.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    content: center;
    text-align: center;
    background-color: rgba(114, 117, 117, 0.979);
    color: whitesmoke;
    height: inherit;
    padding-top: 7px;
    padding-bottom: 7px;
}

#header{
    background-color: whitesmoke;
}
.time{
    float: right;
    background-color: whitesmoke;
    width: 50px;
}

#timer{
    padding-right: 5px;
    background-color: whitesmoke;
    
}


#button{
    margin-top: 30px;
    text-align: center;
}
